@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300&family=Roboto+Mono:ital,wght@1,500&family=Rubik+Wet+Paint&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(images/backgorund.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 500px;
    height: 500px;
}

.logo{
    margin-top: 150px;
    height: 100px;
    margin-bottom: 5px;
}

.logo i{
    width: 100px;
    height: 100px;
    color: #555;
    padding-top: 17px;
    font-size: 55px;
    border-radius: 50%;
    background: white;
}

input{
    padding: 0 10px;
    border-radius: 30px;
}
input::placeholder{
    color: #fff;
}
input type{
    color: #fff;
}

.PIN a{
    text-decoration: none;
}

